body{
    display: flex;
    flex-direction:column;
    font-family:"Roboto", sans-serif;
    margin:0px;
    font-size:18px;
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding-right: 250px;
    
}

.header-logo{
    font-size:24px;
    color:#F9FAF8;
    padding-left: 250px;
}
nav ul{
    margin:0px;
    padding:0px;
    list-style-type: none;
    display:flex;
}

a{
    text-decoration: none;
    margin:auto 10px;
    
    color: #E5E7EB;
}

.hero{
    background-color:#1F2937;
    display:flex;
    align-items: center;
    padding:100px 0;
}

.hero div{
    font-weight:extra-bold;
    color:#F9FAF8;
    width:450px;
    padding-left:250px;
    color: #E5E7EB;
}

h1{
    font-size:48px;
    margin:0px;
}

.hero p{
    margin-top: 0px;
}

.btn{
    background-color: #3882F6;
    border-radius: 10px;
    margin:0px;
    padding: 8px 40px;
    font-weight:bold;
}

.hero>img{
    
    height:250px;
    width:500px;
    margin-left: auto;
    padding-right: 250px;
}

h2{
    text-align:center;
    font-size:36px;
    font-weight: extra-bold;
    color:#1F2937
}

.info-section{
    padding:10px 250px 120px;
}
.info-content{
    text-align:center;
    display: flex;
    justify-content:center;
    justify-content: space-evenly;
}

.info-content div{
    width:175px;
}
.info-section img{
    border: 5px solid #3882F6;
    border-radius: 20px;
    height:175px;
    width: 175px;
}

.quote-section{
    background-color:#E5E7EB;
    color:#1F2937;
    font-size:36px;
    font-weight: 300;
    font-style: italic;
    padding: 80px 360px;
}

.quote-section>p{
    margin-bottom: 0px;
}
.quote-section p+p{
    margin-top: 0;
    font-weight:bold;
    font-style: normal;
    font-size:24px;
    text-align:end;
}

.bottom-section{
    background-color:#F9FAF8;
    padding:100px 200px;
}

.bottom-section>div{
    background-color:#3882F6;
    display: flex;
    color:#E5E7EB;
    display: flex;
    justify-content:space-around;
    padding:20px 60px;
    align-items: center;
    border-radius: 10px;
}

.bottom-section a{
    border: 3px solid #E5E7EB;
    
}

footer{
    background-color: #1F2937;
    color:#E5E7EB;
    text-align:center;
    padding: 40px;
}
